<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>We'd Love to Hear From You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" zoom="6"
                    src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=12.9226307,77.6459103&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>

            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>

            <form role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Address</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3>Office Address</h3>


            <p>
                #11 3E cross.<br>
                21st BTM 2nd Stage, Bangalore<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">M</abbr>: 7795603977</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:arifmr91@gmail.com">arifmr91@gmail.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/arif.mujawar.50" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/?trk=nav_logo" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/arifmujawar1" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->