
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Specialists');"></div>
            <div class="carousel-caption">
                <h1>Reduce costs of finishing operations by 65%</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Wordlwide');"></div>
            <div class="carousel-caption">
                <h1>International Buyer Financing Available</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Since 1910');"></div>
            <div class="carousel-caption">
                <h1>Family Owned for Four Generations</h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Li-Fi to replace Wi-Fi in China?</h3>
                <p>BEIJING: Chinese scientists have successfully developed a new cheaper way of getting connected to internet by using signals sent through light bulbs instead of radio frequencies as in Wi-Fi, a move expected to radically change process of online connectivity.
                    Four computers can be connected to internet through one- watt LED bulb using light as a carrier instead of traditional radio frequencies, as in Wi-Fi, said Chi Nan, an information technology professor with Shanghai's Fudan University.
                    !</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Try To Understand People</h3>
                <p>Try To Understand each other .!!

                    1) If A Person Laughs Too Much,
                    Even At Stupid Things,
                    He Is Lonely Deep Inside.

                    2) If A Person Sleeps A Lot,
                    He Is Sad.

                    3) If A Person Speaks Less,
                    But Speaks Fast,
                    He Keeps Secrets.

                    4) If Some One Can't Cry,
                    He Is Weak.

                    5) If Some One Eats In An Abnormal Manner,
                    He Is Tensed.
                    !</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Stellar Evolution - "Year billions scaled to a few moments!"</h3>
                <p>The stellar evolution starts with the formation of the star from the interstellar matter like gas and dust in the galactic environment. The interstellar gas and dust containing most of the hydrogen experiences a gravitational collapse and contracts to a Prostar. The mass of the prostar depends on the mass it can aggregate through the gravitational collapse. Further dynamical gravitational collapse of the prostar generates sufficient temperature to ignite hydrogen fuel (Nuclear fusion). While burning, the radiation emitted keeps the star expanding until it is equal to the pressure due to gravitational collapse. A burning star looses mass since it sheds energy..</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<!-- /.section-colored -->



<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Features Include:</h2>
                <ul>
                    <li>VTU question papers</li>
                    <li>Aptitude Questions</li>
                    <li>VTU results</li>
                    <li>Much more......</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/bbimage.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
